<template>
  <div>
    <h1>THIS IS TEST OF MICROFRONTEND</h1>
    <a href="/kappa">kippa</a>
  </div>
</template>

<script>
export default {
  name: 'Test',
  mounted () {
    console.log(this.$router)
  }
}
</script>
