<template>
  <pre>{{ error }}</pre>
</template>

<script>
export default {
  name: 'Error',
  props: ['error'],
  mounted () {
    console.log(this.$router)
  }
}
</script>

<style lang="stylus" scoped>
</style>
